{% extends 'base.html' %}
{% block content %}
<div class="section">
            <h2>Expenses</h2>
            <form method="post" action="{% url 'expenses' %}">
                {% csrf_token %}
                {{ expense_form.as_p }}
                <button type="submit" name="expense_submit">Add Expense</button>
                <a href="{% url 'home' %}" class="btn btn-primary">Back</a>
            </form>
            <ul>
                {% for expense in expenses %}
                <li>
                    {{ expense.category.name }}: {{ expense.amount }} - {{ expense.date }}
                    <a href="{% url 'delete_expense' expense.exp_id %}" class="button button-delete">Delete</a>
                </li>
                {% empty %}
                <li>No expenses added yet...</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}