{% extends 'base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expenditure Management</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css'%}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="overflow: hidden;
    position: sticky;
    top:0;">
        <div class="container">
            <a class="navbar-brand" href="#">
                <i class="fa-solid fa-credit-card" style="color: rgb(255, 183, 0);"></i>
                <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">EXPENDITURE MANAGEMENT</p>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Income</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Balance</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Budget</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">AboutUs</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">

    </div>

    <!-- Bootstrap JS -->
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>#}
{#    <script src="{% static 'script.js' %}"></script>#}
</body>
</html>
{% endblock %}

