*{
    margin:0px;
    padding: 0px;
}

nav{
    height: 80px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly;  */
    overflow: hidden;
    position: sticky;
    top:0;
}

.logo{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 1rem;
}
.log-in:hover{
    border: 2px solid white;
}

.log-in{
    width: 70px;
    height: 30px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 4rem;
}
.hover{
    color: orangered;
}